@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

/*Clases*/
.titulo{
    overflow: scroll;
    font-family: 'Source Code Pro',monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(35,35,35);
    width: 100vw;
    position: fixed;
    height: 5.8vh;
}

.titulo::-webkit-scrollbar {
  width: 1vw;
  height: 0;
}

.titulo:hover{
    overflow: scroll;
    background-color: rgb(120,120,120);
    height: 8vh;
    transition: transform 0.2s ease-in;
}

.ul {
    background-color: rgb(35,35,35);
    height: 20vh;
}

.logo{
    height: 20vh;
    width: auto;
}
.texto{
    font-family: 'Source Code Pro', monospace; padding: 10px 10px;
    font-size: 2.3vh; 
    color: rgb(220, 220, 220);
}


.asf{
    overflow: hidden;
    height: 3.5vh;
    background-color: rgb(70,70,70);
}

.a2d{

    height: 1vh;

}

.tboxindex{
    height: auto;
    width: 100vw;
    background-color: rgb(35,35,35);
}
.li:hover{height: 6.3vh;}
.li {float: left;height: 5.8vh; overflow: scroll;}
.li::-webkit-scrollbar {
  width: 1vw;
  height: 0;
}
.li:hover{
    overflow: scroll;
    background-color: rgb(120,120,120);
    height: 8vh;
    transition: transform 0.2s ease-in;
}

.bt{
    font-family: 'Source Code Pro',monospace;
    font-size: 3vh;
    color: rgb(220, 220, 220);
    padding: 0px 2vw;
    background-color: transparent;
    border: 0;
    height: 5.8vh;
    width: auto;
}

.bt:hover{
    font-family: 'Source Code Pro',monospace;
    background-color: rgb(53,90,133);
    color: rgb(35,35,35);
    padding: 0px 3vw;
    font-size: 5vh;
    height: 6.3vh;
  transform: translateY(15%);
  transition: transform 0.2s ease-in;
}

.ah{
    height: 5.8vh;
}

.contact{
    position: left fixed;
    width: 20vw;
    margin-left: 0vw;
    align-self: flex-end;
    font-size: 3vh;
    background-color: rgb(35,35,35);
    border-bottom: 0.1vh solid rgb(220, 220, 220);
    border-top: 0.1vh solid rgb(220, 220, 220);
    color: transparent;
}

.ctt{
    position: left fixed;
    width: 20vw;
    margin-left: -15vw;
    align-self: flex-end;
    font-size: 3vh;
    background-color: rgb(35,35,35);
    border-bottom: 0.1vh solid rgb(220, 220, 220);
    border-top: 0.1vh solid rgb(220, 220, 220);
    color: transparent;
}

.contact:hover{
    transform: translateX(3vw);
    transition: transform 0.2s ease-in;
}

.ctt:hover{
    transform: translateX(10vw);
    transition: transform 0.5s ease-in;
    color: rgb(220, 220, 220);
}

.tr{
    width: 10vw;
    color: transparent;
    background-color: rgb(53,90,133);
}

.tr:hover{
    color: rgb(220, 220, 220);
}

.trs{
    width: 3vw;
    color: rgb(220, 220, 220);
}

.flyerb{
    background-color: rgb(35,35,35);
    align-content: center;
    width: 27vw;
    overflow: scroll;
    height: 81vh;
    vertical-align: center;
}

.flyer{
    width: 25vw;
    vertical-align: center;
}
.flyer:hover{
    zoom:150%;
}

.p{
    color: rgb(220, 220, 220);
    font-size: 2hv;
    margin-left: 2vw;
}

.flyerb::-webkit-scrollbar{width: 2px; height: 0px;}

.di{
    overflow: hidden;
    width: 100vw;
    text-align: center;
    vertical-align: center;
}
.tbh{
    height: 50vh;
}
.txta{
    color: rgb(220, 220, 220);
    -webkit-transform: rotate(-90deg);
    font-size: 4vh;
    text-overflow: ellipsis;
    width: 20vh;
}

.txtb{
    background-color: rgb(50, 50, 50);
    height: 50vh;
    width: 15vh;
}
.txt{
    color: rgb(0,0,0);
    background-color: rgb(212, 228, 72);
    font-size: 3vh;
    height: 6vh;
    width: 8vw;
    height: 50vh;
}

.txt:hover{
    border: 0.5vh solid rgb(220,220,220);
}

.imgm{
  height: 48vh;
  border-left: rgb(220, 220, 220);
  border-left: 2vw;
}

.div{
    width: 5vw;
    height: 50vh;
}

.divl{
    height: 50vh;
    width: 0.1vw;
    background-color: rgb(220, 220, 220);
}

li a {text-decoration: none;}

body::-webkit-scrollbar {
  width: 1vw;
  height: 0;
}

body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(53,90,133);
  border-radius: 0.5vw;
  border: .1vw solid rgb(70,70,70);
}

html{margin: 0;font-family: 'Source Code Pro',monospace;}
head{margin: 0;}
body{margin: 0;}
footer{margin: 0;}
ul{margin: 0;}
li{margin: 0;}
div{margin: 0;}
a{margin: 0; color: rgb(220, 220, 220); text-decoration: none;}
button{margin: 0;padding: 0; border: none;}
td {margin: 0;}
img{margin: 0; padding: 0;}
table{margin: 0; border: none;}



.box{
  padding: 0;
  width: auto;
  overflow: scroll;
  scrollbar-color: rgb(75, 75, 75);
  scrollbar-width: 0px;
  scrollbar-highlight-color: rgb(255, 0, 0);
    height: 29vh;
}

.box::-webkit-scrollbar{width: 2px; height: 0px;}
.box::-webkit-scrollbar-track {background: rgb(0, 0, 0);}
.box::-webkit-scrollbar-thumb {background-color: rgb(53,90,133); border-radius: 1px; border: 0px;}
.box::-webkit-scrollbar-corner {background-color: rgb(0, 0, 0);}


.iframe{
  padding: 0;
  width: 60vw;
  overflow: scroll;
  scrollbar-color: rgb(75, 75, 75);
  scrollbar-width: 0px;
  scrollbar-highlight-color: rgb(255, 0, 0);
  height: 50vh;
}

.iframe::-webkit-scrollbar{width: 2px; height: 0px;}
.iframe::-webkit-scrollbar-track {background: rgb(0, 0, 0);}
.iframe::-webkit-scrollbar-thumb {background-color: rgb(53,90,133); border-radius: 1px; border: 0px;}
.iframe::-webkit-scrollbar-corner {background-color: rgb(0, 0, 0);}